# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [3]:
A = 1.25 + (5**2*16/4) - 1
print(A)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [15]:
4 * (6 + 5)

44

In [16]:
4 * 6 + 5

29

In [6]:
4 + 6 * 5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [17]:
a = 3 + 1.5 + 4

In [18]:
a

8.5

In [19]:
type(a)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [14]:
# Square root: 
25 * 0.2

5.0

In [10]:
# Square:
25**2

625

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [20]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [25]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [26]:
s ='hello'
# Print out the 'o'

# Method 1:
s[-1]

'o'

In [27]:
# Method 2:
s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [29]:
# Method 1:
list0 = [0,0,0]

In [30]:
# Method 2:
[0] * 3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [33]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'

In [34]:
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [35]:
list4 = [5,3,4,6,1]

list4.sort()

In [36]:
list4

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [39]:
d = {'simple_key':'hello'}
# Grab 'hello'
d.values()

dict_values(['hello'])

In [44]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [52]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1]

['hello']

In [57]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [72]:
d['k1'][2]['k2'][1]['tough'][2]

['hello']

Can you sort a dictionary? Why or why not?<br><br> No, Dictionaries can't be sorted -- a mapping has no ordering

## Tuples

What is the major difference between tuples and lists?<br><br> The main difference between lists and tuples is the fact that lists are mutable whereas tuples are immutable

How do you create a tuple?<br><br> To create a tuple in Python, place all the elements in a () parenthesis, separated by commas

## Sets

What is unique about a set?<br><br> Vlaues

Use a set to find the unique values of the list below:

In [73]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [74]:
# Answer before running cell
2 > 3

False

In [75]:
# Answer before running cell
3 <= 2

False

In [76]:
# Answer before running cell
3 == 2.0

False

In [77]:
# Answer before running cell
3.0 == 3

True

In [78]:
# Answer before running cell
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [79]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!